{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Account List</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for item in account_list %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
